/* Soft reset do css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://image.freepik.com/free-photo/light-bulbs-glowing-one-different-idea-cactus-blue-flower-pot-white-background_52494-9.jpg');
  background-size: auto 100vh; 
  font-family: 'roboto', sans-serif;
  height: 100vh;
  font-size: 12xp;
  overflow-x: hidden;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media( min-width: 400px ){ 
body {
  
  font-size: 15px; 
      }
}

/* breakpoint - ponto de quebra que se ajusta*/
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
  /* esses dois acimas extenderam demais minha foto*/
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* centralizou meu nome*/
}


.menu {
  background-color: rgb(217, 177, 233);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1; 
}

.menu ul {
  display: flex;
  justify-content: space-around; 
  
}

.menu li {
 list-style: none; 
}

.menu a {
  background-color: whitesmoke;
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;/* tempo de mudança de cor qnd passa o mouse*/

}

.menu a:active,
.menu a:hover {
  background-color: rgb(221, 211, 226);
  color: whitesmoke;
}

a {
  color: black;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

.titulo{
  transform: scale(0.2) translateY(50vh); /* escala e movimento de zoom */
  opacity: 0 ; /* transparencia*/
  /*transition: all 2s;/* qnd passar mouse*/
  animation:linear 1s animar forwards ;
  
}

@keyframes animar {/* criando nome animação*/
  0%{ /*from*/
    transform: scale(0.2) translateY(50vh);/* valores iniciais*/
    opacity: 0 ;
   }
  100%{/*to*/
  transform: scale(1) translateY(0); /* escala e movimento de zoom */
  opacity: 1 ; /* transparencia*/
  }
}

.site-subtitle, 
.site-title {
  color: rgba(166, 75, 202, 0.822);
  text-align: center;
  
}
.site-title {
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
}

.site-subtitle {
 font-style: italic;
 font-family: 'Amatic SC', cursive;
 line-height:1.8em ;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {/* limitação dos elementos*/
    margin-left: auto;/* margem automatica*/
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2{
  font-family: 'Amatic SC', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre p {
color: rgb(164, 109, 196);
margin-bottom:1.4em ;
text-indent: 1.4em;/* recuo/parágrafo */
text-align: justify;

}

/*.sobre a {
  color: white;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: cyan;
  text-decoration: none;
  color: magenta;
}
qnd tiver LINK acima

.sobre .foto{
  float: left  ou right; Imagem  e texto do lado
  margem-left: 2em;
}
texto do lado

.sobre .foto img{
  border-radius: 50%;
}
imagem arredondada. 

*/

.sobre .foto {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-left: 2em;
}

@media (min-width: 600px) {
  .sobre .foto {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    float: right;
  }
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 230px;
  width: 230px;
  object-fit: cover;/* mesma porporção acima p todos */
  object-position: left bottom;/* tamanho posição da my image qnd aperto*/
  transition: transform 500ms;
 /*border-radius: 0%; arredondar imagem*/
}

.img-portfolio:hover{
  transform: scale(1.2) rotateX(15deg);
}

.contato .icons {
  text-align: center;/* Centraliza apenas os iconees*/
}

.contato a { /* mesmas caracteristicas fonte do portifolio*/
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 2s; /* velocidade aparece sombra*/ 
}

.contato a:active,/*qnd clica no elemento no celular /touch*/
.contato a:hover  {
  text-decoration: none;/* tirar o _ da tag a do html do contato*/
  text-shadow: 4px 4px 10px rgba(182, 96, 216, 0.900);/* sombra no elemento p dizer que é acessável, controla no pixel. RGBA : a: transparencia*/
}